
body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    color: white;
    font-size: 24px;
    display:flex;
    justify-content: space-around;
    align-items: center
}

.links {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    gap: 24px
}

.box {
    border: 1px solid blue;
    width: 200px;
    height: 200px;
    background:transparent;
    border-radius: 25px;
}

.top {
    display:flex;
    background-color: #1f2937;
    color: white;
}

.signup {
    color: white;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 5px 20px;

}

.stock {
    width: 200;
    height: auto;
    display: flex;
    margin: 0
}

.toptext {
    display:flex;
    flex-direction: column;
}