
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header {
    background-color: #1f2937;
    color: white;
    font-size: 24px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    gap: 24px
}
/* HEADER END*/

/* WELCOME TOP PAGE */
.top {
    display:flex;
    background-color: #1f2937;
    color: white;
    padding: 50px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;

}

.signup {
    color: white;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 5px 20px;
    border-color: white;
    font-weight: 600;
}

img {
    width: 400px;
    height: auto;
    padding: 30px;
}

.toptext {
    padding: 30px;
    text-align: left;
    flex-basis: 400px;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    margin: 0;
}

/* WELCOME TOP PAGE END */

/* SOME RANDOM INFO PAGE
 */

.middle {
    display:flex;
    justify-content: center;
    padding: 10px;
    gap: 40px;
    margin-bottom: 130px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.box {
    border: 3px solid #3882f6;
    width: 150px;
    height: 150px;
    background:transparent;
    border-radius: 14px;
    display: block;
}

.text {
    padding: 5px;
    margin-top: 150px;
    text-align:center;
}

/* SOME RANDOM INFO PAGE END
 */

 /* QUOTE PAGE */

 .bottom {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    padding: 100px 170px;
    font-style: italic;

 }

 /* QUOTE PAGE END */

 /* CALL TO ACTION */

 .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    margin: 60px auto 60px auto;
    border-radius: 10px;
    padding: 30px 50px
 }

 .foottext {
    display:flex;
    flex-direction: column;
    gap: 5px;
    color:white;
    margin-right: 50px;
    font-weight: 600;
 }