
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0
}

.header {
    background-color: #1f2937;
    color: white;
    font-size: 24px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    gap: 24px
}

.box {
    border: 1px solid blue;
    width: 100px;
    height: 100px;
    background:transparent;
    border-radius: 25px;
}

.top {
    display:flex;
    background-color: #1f2937;
    color: white;
}

.signup {
    color: white;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 5px 20px;

}

 /* .stock {
    width: 100px;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
} */


img {
    width: 300px;
    height: auto;
}

.toptext {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

}

.middle {
    display:flex;
    justify-content: center;
    padding: 10px;
    gap: 15px;
}

h2 {
    text-align: center;
}